# Python cache
__pycache__/
*.py[cod]
*.pyo

# Byte-compiled / optimized / DLL files
*.so

# Virtual environment
.venv/
venv/

# SQLite database
*.sqlite
*.db

# Flask migrations
migrations/__pycache__/
migrations/versions/*.pyc
instance/

# IDEs and editors
.idea/
.vscode/

# Logs and temp files
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db